.body{width: 100%;background: #fff;}
.block{margin: 0 auto 25px;}
.block table{width: 100%;border-spacing: 0px;border-collapse: collapse;}
.block td{border: 1px solid #a6a6a6;padding: 10px;}
.block td img{width: 150px;}