html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0
}
a {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
	padding: 0;
	color: #6FB0D9
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, td img {
	vertical-align: top
}
input, select, button, textarea {
	font-size: 100%;
	font-family: 'Arial', serif, sans-serif;
	margin: 0
}
input[type=text], input[type=password], textarea {
	padding: 0
}
input[type=checkbox] {
	vertical-align: bottom
}
input[type=radio] {
	vertical-align: text-bottom
}
sub {
	vertical-align: sub;
	font-size: smaller
}
sup {
	vertical-align: super;
	font-size: smaller
}
html, body {
	min-height: 100%
}
body {
	line-height: 1em;
	background: #fff;
	color: #000;
	text-align: left;
	font: 12px 'Open Sans', Helvetica, sans-serif;
	overflow: auto
}
label, input[type=button], input[type=submit], button {
	cursor: pointer
}
a, a:hover, a:active, a:visited, a:active img, a:visited img {
	outline: none
}
img {
	border: none
}
.clear {
	clear: both;
	float: none
}