html,body{height:100%;}
body{background:#d8dfe8;font-family:'Ubuntu';color:#474747;}
img{max-width:100%;}
*:focus{outline:none}

textarea {
    resize: none;
}
.alert.abs{position:absolute;top:0;right:0;max-width:400px;display:none;}

.notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    z-index: 1;
}

.notice .msg {
    line-height: 34px;
}

.intl-tel-input .flag-container {
    right: auto;
}

.help-block {
    margin: 0 0 5px;
    line-height: 18px;
    color: #a0a0a0;
}

.empty {
    padding: 50px 15px;
    text-align: center;
    font-size: 14px;
    color: #a0a0a0;
    background: #fff;
}
.wrap{min-height:100%;height:auto;margin:0 auto -70px;padding:0;padding:0 0 70px;}
.wrap > .container{padding:0 15px 20px;position:relative;}
.footer{height:70px;background-color:#fff;border-top:1px solid #ddd;padding-top:15px;}
.jumbotron{text-align:center;background-color:transparent;}
.jumbotron .btn{font-size:21px;padding:14px 24px;}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{background:#eee!important;}
.not-set{color:#c55;font-style:italic;}
.navbar{margin-bottom:0;border:none;border-radius:0;}
.navbar.main{background:#41c8f2;}
.navbar.main li a{opacity:.7;-webkit-transition:opacity .3s linear;-moz-transition:opacity .3s linear;-ms-transition:opacity .3s linear;-o-transition:opacity .3s linear;transition:opacity .3s linear;}
.navbar-right li a{border:2px solid #fff;border-radius:3px;line-height:40px!important;margin-top:12px;}
.navbar-right li+li{margin-left:15px;}
.navbar.main li a:hover{opacity:1;}
.has-error .ui-selectmenu-button,.has-error .intl-tel-input input,.has-error .intl-tel-input input[type="text"],.has-error .intl-tel-input input[type="tel"]{border-color:#a94442;}

.btn.remove, .btn.cancel {
    border: 2px solid #a0a0a0;
}
.wrapper{width:100%;max-width:960px;padding:0 10px;margin:0 auto;position:relative;overflow:hidden;padding:15px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.add-endor {
    background: #fff;
    color: #337ab7;
    border: 1px solid #337ab7;
}

.add-endor:hover {
    background: #fff;
    color: #337ab7;
    border: 1px solid #337ab7;
}

/* add sorting icons to gridview sort links */
a.asc:after,a.desc:after{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;padding-left:5px;}
a.asc:after{content: /*"\e113"*/ "\e151";}
a.desc:after{content: /*"\e114"*/ "\e152";}
.sort-numerical a.asc:after{content:"\e153";}
.sort-numerical a.desc:after{content:"\e154";}
.sort-ordinal a.asc:after{content:"\e155";}
.sort-ordinal a.desc:after{content:"\e156";}
.grid-view th{white-space:nowrap;}
.hint-block{display:block;margin-top:5px;color:#999;}
.error-summary{color:#a94442;background:#fdf7f7;border-left:3px solid #eed3d7;padding:10px 20px;margin:0 0 15px 0;}
.clear{clear:both;}

.notifyjs-corner {
    z-index: 999999 !important
}

.ui-sortable {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ui-sortable > li {
    padding: 15px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    width: 100%;
}

.ui-sortable > li .term-name {
    line-height: 34px;
}
.ui-sortable > li .btn-group{}

/*********************PAGINATION************************/

.pagination > li > a, .pagination > li > span {
    border: 0;
}

.page-pag {
    width: 100%;
    background: #fff;
    display: block;
    text-align: center;
    margin: 20px auto !important;

}

.page-pag > li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

.page-pag .admin-pag-a {
    border-radius: 50%;
    margin-top: 0;
    color: #000;
}

.page-pag > li:first-child {
    float: left;
    margin: 0;
    padding: 10px;
    border-right: 1px solid #e9e9e9;
    color: #c5c5c5 !important;
}

.page-pag > li:first-child s, .page-pag > li:last-child a {
    color: #c5c5c5;
}

.page-pag > li:first-child.disable span, .page-pag > li:last-child.disable span {
    color: #ededed !important;
}

.page-pag > li:last-child {
    float: right;
    margin: 0;
    padding: 10px;
    border-left: 1px solid #e9e9e9;
    color: #c5c5c5 !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    background-color: rgba(0, 0, 0, 0);
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    background-color: rgba(0, 0, 0, 0);
}

/***************LAYOUT*********************/
nav.navbar{height:70px;line-height:70px;background:#4f8ec4;border-color:#4f8ec4;z-index:99999;}
.navbar-brand{height:70px;line-height:70px;padding:25px 15px;}
.navbar-brand img{width:76px;}
.footer{text-align:center;}
.f-menu{display:inline-block;vertical-align:middle;}
.f-menu a{text-transform:uppercase;color:#c5c5c5;font-size:12px;font-weight:500;display:inline-block;vertical-align:middle;}
.f-menu a:nth-child(n-1){margin:0 50px;}
.f-logo{width:40px;height:40px;margin:0 50px;background:#4f8ec4;border-radius:50%;display:inline-block;vertical-align:middle;}
.f-logo img{width:100%;}
.navbar-nav > li > a{padding-top:0;padding-bottom:0;line-height:70px;color:#fff;}
.navbar-inverse .navbar-nav > li > a{color:#fff;}
.user-menu{float:right;position:relative;cursor:pointer;}
.user-menu img{width:40px;display:inline-block;vertical-align:middle;border-radius:50%;border:4px solid #8db9df;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.user-menu .name{display:inline-block;vertical-align:middle;margin-left:5px;opacity:.7;color:#fff;font-size:14px;font-weight:500;cursor:pointer;margin-top:-3px;}
.user-menu .name i{margin-left:10px;}
.user-menu ul{display:none;position:absolute;width:220px;top:100%;right:0;padding:8px 0;min-width:100%;background:#fff;z-index:1;-webkit-box-shadow:0 0 5px #666;box-shadow:0 0 5px #666;}
.user-menu ul:before{content:"";position:absolute;width:20px;height:10px;top:-10px;right:15px;background:url(/images/sys/drop.png) 0 0 no-repeat;}
.user-menu ul li{display:block;padding:0;line-height:20px;}
.user-menu ul li.devider{height:1px;background:#e9e9e9;margin:8px 0;}
.user-menu ul li a{padding:11px 18px;display:block;color:#474747;font-size:14px;}
.user-menu ul li a:hover{text-decoration:none;background:#f3f3f3;}
.user-menu ul li a i{margin-right:10px;}

/****************SIGNUP*******************/
.sign-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    border-radius: 50%;
}

.sign-icon.docs-icon {
    background: #4f5d73;
}

.sign-icon.scans-icon {
    background: #77b3d4;
}

.sign-icon.sea-icon {
    background: #4f5d73;
}

.sign-icon img {
    width: 85px;
}

.wrapper.progress-block {
    background: #fff;
    padding: 30px 50px 47px !important;
    margin-bottom: 20px;
}

.signup-progress {
    width: 100%;
    height: 2px;
    background: #c5c5c5;
    position: relative;
}

.signup-progress .line {
    background: #50b967;
    width: 0;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.signup-progress .step {
    width: 30px;
    height: 30px;
    background-color: #c5c5c5;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.signup-progress .step.active {
    background-color: #50b967;
}

.signup-progress .step + .step {
    left: 23%;
}

.signup-progress .step + .step + .step {
    left: 47%;
}

.signup-progress .step + .step + .step + .step {
    left: 72%;
}

.signup-progress .step + .step + .step + .step + .step {
    left: auto;
    right: 0;
}

.step .title {
    color: #000;
    position: absolute;
    bottom: -27px;
    left: 50%;
    font-size: 13px;
    font-weight: 500;
    color: #c5c5c5;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.step.active .title {
    color: #50b967;
}
.site-signup form{width:100%;max-width:460px;}
.help-block-error{display:none;}
.avatar{position:relative;overflow:hidden;padding-top:20px;margin-bottom:15px;}
.avatar #images,.avatar #imagess{float:left;width:100px;height:100px;}
#seaman .avatar.ph #images{border-radius:50%;position:relative;overflow:hidden;}
#seaman .avatar.cv #imagess{position:relative;overflow:hidden;width:100px;height:128px;border-radius:5px;}
.avatar #images img,.avatar #imagess img{max-width:100%;}
.avatar .file-desc{float:left;margin-left:15px;width:calc(100% - 115px);}
.avatar .file-desc p{font-size:14px;margin:0;}
.avatar .file-desc p.tip{color:#a0a0a0;}
.upload-btn{overflow:hidden;position:relative;margin-top:15px;}
.upload-btn .form-group{margin:0;}
.upload-btn__txt{z-index:1;position:relative;color:#fff;}
.upload-btn input{top:-10px;right:-40px;z-index:2;position:absolute;cursor:pointer;opacity:0;filter:alpha(opacity=0);font-size:50px;}
.avatar .remove{border:2px solid #a0a0a0;font-size:13px;font-weight:700;color:#a0a0a0;margin-left:5px;margin-top:15px;}

.form-control, .has-success .form-control {
    border-color: #dddddd;
}
.form-control:focus{border-color:#bbbbbb;box-shadow:none;}
.trumbowyg-editor,.trumbowyg-textarea{min-height:170px;height:170px;}
.trumbowyg-box,.trumbowyg-editor{min-height:200px;height:208px;width:100%;margin-top:0;}
.addr .field-companies-city_id,.addr .field-companies-address{width:48%;display:inline-block;}
.addr .field-companies-address{margin-left:3.1%;}
.intl-tel-input{display:block;}
.intl-tel-input input,.intl-tel-input input[type="text"],.intl-tel-input input[type="tel"]{padding:5px 5px 5px 48px;width:100%;border:1px solid #dddddd;}
#company-cont{padding-top:20px;}
#seaman .col-lg-12{padding:0;}
#seaman table tr{border-bottom:1px solid #e9e9e9;}
#seaman table tr td{padding:10px!important;}
#seaman table tr td.f-tit{width:14.89%!important;border-right:1px solid #e9e9e9;}
#seaman table tr td.f-tit+td{width:35.11%;}
#seaman table tr td:nth-child(2){border-right:1px solid #e9e9e9;}
#seaman table tr td .form-group{margin:0;}
#family .col-lg-12{padding:0;}
#family table tr{border-bottom:1px solid #e9e9e9;}
#family table tr td{padding:10px!important;}
#family table tr td.f-tit{width:14.89%!important;border-right:1px solid #e9e9e9;}
#family table tr td.f-tit+td{width:35.11%;}
#family table tr td:nth-child(2){border-right:1px solid #e9e9e9;}
#family table tr td .form-group{margin:0;}
#edu .col-lg-12{padding:0;}
#edu table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
#edu table tr{border-bottom:1px solid #e9e9e9;}
#edu table tr td{padding:10px!important;width:37.76%;border-right:1px solid #e9e9e9;}
#edu table tr td+td{width:27.12%;}
#edu table tr td+td+td{width:16.12%;}
#edu table tr td .form-group{margin:0;}
#travel .col-lg-12{padding:0;}
#travel table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
#travel table tr{border-bottom:1px solid #e9e9e9;}
#travel table tr td{padding:10px!important;width:28.51%;border-right:1px solid #e9e9e9;}
#travel table tr td+td{width:17.87%;}
#travel table tr td .form-group{margin:0;}
#kin .col-lg-12{padding:0;}
#kin table tr{border-bottom:1px solid #e9e9e9;}
#kin table tr td{padding:10px!important;}
#kin table tr td.f-tit{width:14.89%!important;border-right:1px solid #e9e9e9;}
#kin table tr td.f-tit+td{width:35.11%;}
#kin table tr td:nth-child(2){border-right:1px solid #e9e9e9;}
#kin table tr td .form-group{margin:0;}
#lang .col-lg-12{padding:0;}
#lang table tr{border-bottom:1px solid #e9e9e9;}
#lang table tr td{padding:10px!important;}
#lang table tr td.f-tit{width:28.51%!important;border-right:1px solid #e9e9e9;}
#lang table tr td.f-tit+td{width:71.49%;}
#lang table tr td.f-tit+td .form-group{width:80%;max-width:250px;}
#lang table tr td .form-group{margin:0;}
.add{margin:20px 0 20px 15px;}
.add i{margin-right:5px;}
#bio .col-lg-12{padding:0;}
#bio table tr{border-bottom:1px solid #e9e9e9;}
#bio table tr td{padding:10px!important;}
#bio table tr td.f-tit{width:13.17%!important;}
#bio table tr td.f-tit+td{width:21.27%;}
#bio table tr td:nth-child(2),#bio table tr td:nth-child(4){border-right:1px solid #e9e9e9;}
#bio table tr td .form-group{margin:0;}
#sbedit .col-lg-12{padding:0;}
#sbedit table tr{border-bottom:1px solid #e9e9e9;}
#sbedit table tr td{padding:10px!important;}
#sbedit table tr td.f-tit{width:13.17%!important;}
#sbedit table tr td.f-tit+td{width:21.27%;}
#sbedit table tr td:nth-child(2),#sbedit table tr td:nth-child(4){border-right:1px solid #e9e9e9;}
#sbedit table tr td .form-group{margin:0;}
#competency .col-lg-12{padding:0;}
#competency table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
#competency table tr{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
#competency table tr td{padding:10px!important;width:28.51%;}
#competency table tr td+td{width:17.87em;}
#competency table tr td .form-group{margin:0;}
#prof .col-lg-12{padding:0;}
#prof table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
#prof table tr{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
#prof table tr td{padding:10px!important;width:28.51%;}
#prof table tr td+td{width:17.87em;}
#prof table tr td .form-group{margin:0;}
#med .col-lg-12{padding:0;}
#med table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
#med table tr{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
#med table tr td{padding:10px!important;width:28.51%;}
#med table tr td+td{width:17.87em;}
#med table tr td .form-group{margin:0;}
#ref .col-lg-12{padding:0;}
#ref table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
#ref table tr{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
#ref table tr td{padding:10px!important;width:25%;}
#ref table tr td .form-group{margin:0;}
#serv .col-lg-12{padding:0;}
#serv table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
#serv table tr{border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
#serv table tr td{padding:10px!important;width:16.66%;}
#serv table tr td .form-group{margin:0;}
.field-service-me_power{display:inline-block;vertical-align:top;width:75%;}
.field-service-me_power input{border-right:0;border-radius:4px 0 0 4px;box-shadow:none;}
.field-service-measure{display:inline-block;vertical-align:top;width:25%;}
.field-service-measure select{border-radius:0 4px 4px 0;padding:0;box-shadow:none;}
.seamansign{padding:20px 0;}

/***************SEAMAN & Company********************/
.tab_cont .block{width:100%;background:#fff;position:relative;margin-bottom:20px;}
.tab_cont .bt{background:#eeeeee;border-bottom:1px solid #dedede;height:48px;line-height:48px;padding:0 15px;position:relative;overflow:hidden;}
.tab_cont .bt h2{font-size:15px;font-family:'Ubuntu';font-weight:700;line-height:48px;margin:0;padding:0;float:left;max-width:80%;}
.tab_cont .bt .edit{float:right;line-height:48px;font-size:14px;font-weight:700;color:#4f8ec4;cursor:pointer;}
.tab_cont .block table{width:100%;}
.tab_cont .block table tr{border-bottom:1px solid #e9e9e9;}
.tab_cont .block table tr td{padding:10px;border-right:1px solid #e9e9e9;width:20%;}
.tab_cont .block table tr td:last-child{border:none;}
.tab_cont .block table tr td.f-tit{text-align:right;font-weight:700;}
.tab_cont .block table tr.first td{text-align:center;}
.tab_cont .block table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
.tab_cont .block table.langs tr td.f-tit{width:25%;}
.tab_cont .block table.langs tr td{width:75%;}
.tab_cont .block table.education tr td.f-tit{width:37.45%;}
.tab_cont .block table.education tr td{width:15.63%;}
.tab_cont .block table.five tr td{width:20%;}
.tab_cont .block table.services tr td{width:20%;}

.tabs.user .tab {
    width: 76px;
    margin: 0px 30px 0 0;
}

.tabs.user .tab:nth-child(3n-1) {
    margin: 0px 30px 0 0;
}
.tabs.user .tab+.tab{width:95px;}
.tabs.user .tab+.tab+.tab{width:129px;margin-right:30px;}

.tabs.user .tab + .tab + .tab + .tab {
    width: 45px;
}

.tabs.user .tab + .tab + .tab + .tab + .tab {
    width: 115px;
}

.tabs.user .tab:last-child {
    margin-right: 0 !important;
}

.profile {
    background: #fff;
    padding-top: 20px;
    position: relative;
}
.profile .wrapper{max-width:700px;padding:0 20px;position:relative;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.profile .wrapper .img {
    float: left;
    width: 150px;
    position: relative;
    overflow: hidden;
}
.profile .wrapper .img img{width:100%;}
.profile .wrapper .info{float:left;width:calc(100% - 165px);margin-left:15px;}
.profile .wrapper .top{position:relative;overflow:hidden;border-bottom:1px solid #e9e9e9;}
.profile .wrapper .info h1{font-weight:700;font-size:18px;line-height:40px;float:left;margin:0;}
.profile .wrapper .info .type{float:right;color:#a0a0a0;font-size:14px;line-height:40px;}

.profile .wrapper .bot {
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 30px;
}
.profile .wrapper .bot .stat{display:inline-block;vertical-align:top;text-align:center;width:calc(32% - 10px);font-size:14px;color:#a0a0a0;}
.profile .wrapper .bot .stat:nth-child(3n-1){margin:0 15px;}
.profile .wrapper .bot .stat .digit{font-size:20px;font-weight:500;color:#474747;line-height:40px;}
.tabs{clear:both;border-top:1px solid #e9e9e9;margin-top:15px;list-style:none;text-align:center;}
.tabs .tab{display:inline-block;font-size:14px;line-height:50px;color:#a0a0a0;padding:0;cursor:pointer;position:relative;-webkit-transition:color .3s;-moz-transition:color .3s;-ms-transition:color .3s;-o-transition:color .3s;transition:color .3s;}
.tabs .tab i{margin-right:5px;}
.tabs .tab:nth-child(3n-1){margin:0 30px;}
.tabs .tab.active{font-weight:500;color:#474747;text-align:center;}
.tabs .tab:hover{color:#474747;}
.tabs .tab{width:76px;}
.tabs .tab+.tab{width:87px;}
.tabs .tab+.tab+.tab{width:94px;}
.tabs .tab.active:after{content:"";width:100%;height:2px;position:absolute;bottom:0;left:0;background:#4f8ec4;}

.wrapper.company {
    width: 100%;
    max-width: 970px;
    padding: 0 15px;
    margin: 15px auto;
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper.company .contacts{float:left;background:#fff;width:30.106%;position:relative;overflow:hidden;}
.wrapper.company .contacts .cont-form{display:none;}
.wrapper.company .com_cont .about-form{display:none;padding:20px 15px;}

.wrapper.company .com_cont .cancel.about-form {
    padding: 0;
}
.wrapper.company .contacts .bt{background:#fafafa;padding:0 15px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;}
.wrapper.company .contacts .bt h2{margin:0;color:#474747;font-size:14px;line-height:42px;font-weight:700;}
.wrapper.company .contacts .line{padding:15px;border-bottom:1px solid #e9e9e9;}

.wrapper.company .contacts .line.unb {
    padding: 0 15px;
    border-bottom: none;
}
.wrapper.company .contacts .line p{margin:0;}
.tab_cont{display:none;clear:both;opacity:0;-webkit-transition:opacity .4s linear;-moz-transition:opacity .4s linear;-ms-transition:opacity .4s linear;-o-transition:opacity .4s linear;transition:opacity .4s linear;}
.tab_cont.active{display:block;opacity:1;}
.tab_cont.prof img{max-width:150px;}
.tab_cont.prof a.link{margin:100px 0 20px;display:inline-block;}
.wrapper.company .com_cont{float:left;background:#fff;margin-left:1.597%;width:68.297%;}
.wrapper.company .com_cont .bt{background:#fafafa;padding:0 15px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;}
.wrapper.company .com_cont .bt h2{margin:0;color:#474747;font-size:14px;line-height:42px;font-weight:700;}
.wrapper.company .com_cont .cont{padding:15px;}
#Stage{position:absolute;bottom:-10px!important;}
.wrapper.company .vacancies{background:#fff;}
.nego {
    color: #a0a0a0;
    line-height: 50px;
}
.wrapper.company .vacancies .bt{background:#fafafa;padding:0 15px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;}
.wrapper.company .vacancies .bt h2{margin:0;color:#474747;font-size:14px;line-height:42px;font-weight:700;}
.wrapper.company .vacancies .empty{padding:50px 15px;text-align:center;font-size:14px;color:#a0a0a0;}
.wrapper.company .vacancies .empty a{font-weight:700;}
.wrapper.company .vacancies .item{position:relative;overflow:hidden;padding:15px;border-bottom:1px solid #e9e9e9;}
.wrapper.company .vacancies .item .img{float:left;width:50px;}
.wrapper.company .vacancies .item .img img{width:100%;}
.wrapper.company .vacancies .item .info{float:left;margin-left:15px;font-family:'Ubuntu';font-family:'Ubuntu';width:calc(100% - 175px);}
.wrapper.company .vacancies .item .info h2{font-family:'Ubuntu';font-size:16px;line-height:1;margin:3px 0 10px;}
.wrapper.company .vacancies .item .info .detales > div{display:inline-block;vertical-align:middle;background:#efeff6;padding:5px 10px;border-radius:3px;color:#6b6f86;font-size:13px;font-weight:700;}
.wrapper.company .vacancies .item .sallary{width:80px;float:right;margin-left:15px;padding-left:15px;position:relative;}
.wrapper.company .vacancies .item .sallary:before{content:"";position:absolute;width:1px;height:100%;background:#e9e9e9;top:0;bottom:0;left:0;margin:auto;}
.wrapper.company .vacancies .item .sallary .summ{margin-top:3px;font-size:16px;color:#50b967;font-weight:600;}
.wrapper.company .vacancies .item .sallary .period{font-size:13px;color:#474747;text-transform:lowercase;}
.wrapper.company .vessels{background:#fff;position:relative;overflow:hidden;}
.wrapper.company .vessels .bt{background:#fafafa;padding:0 15px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;position:relative;overflow:hidden;}
.wrapper.company .vessels .bt h2{margin:0;color:#474747;font-size:14px;line-height:42px;font-weight:700;float:left;}
.wrapper.company .vessels .empty{padding:50px 15px;text-align:center;font-size:14px;color:#a0a0a0;}
.wrapper.company .vessels .empty a{font-weight:700;}
.tab_cont .vessels table{width:100%;}
.tab_cont .vessels table tr{border-bottom:1px solid #e9e9e9;}
.tab_cont .vessels table tr td{padding:10px;border-right:1px solid #e9e9e9;width:20%;}
.tab_cont .vessels table tr td:last-child{border:none;}
.tab_cont .vessels table tr td.f-tit{font-weight:700;font-size:14px;text-align:right;}
.tab_cont .vessels table thead tr td{background:#f5f5f5;padding:10px;font-size:14px;font-weight:700;}
.tab_cont.scans .docs{position:relative;}
.tab_cont.scans .docs .bt{background:#fafafa;}
.tab_cont.scans .docs .bt h2{font-size:14px;}
.tab_cont.scans .docs .item{position:relative;overflow:hidden;padding:15px;}
.tab_cont.scans .docs .bot{background:#f5f5f5;height:76px;line-height:73px;padding:0 15px;clear:both;}
.tab_cont.scans .docs .item+.item{border-top:1px solid #e9e9e9;}
.tab_cont.scans .docs .item .img,.tab_cont.scans .docs .item .info{display:inline-block;vertical-align:middle;}
.tab_cont.scans .docs .item .img{max-width:100px;}
.tab_cont.scans .docs .item .img .hide-img{max-width:50px;border-radius:5px;background:#77b3d4;}
.tab_cont.scans .docs .item .img img{width:100%;}
.tab_cont.scans .docs .item .info{margin-left:15px;}
.tab_cont.scans .docs .item .info .docname h3{font-weight:700;color:#474747;font-size:14px;line-height:20px;margin:0 0 3px;}
.tab_cont.scans .docs .item .info .additional{color:#a0a0a0;font-size:13px;line-height:20px;margin:0;}
.tab_cont.scans .docs .item .info .buttons{margin-top:10px;}
.tab_cont.scans .docs .item .info .buttons .dl{margin-left:10px;}
.tab_cont.scans .docs .empty{padding:50px 15px;text-align:center;font-size:14px;color:#a0a0a0;}
.tab_cont.scans .docs .empty a{font-weight:700;}
.tab_cont.scans .docs .item .img .images{width:100px;height:100px;position:relative;overflow:hidden;border:3px solid #ddd;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tab_cont.scans .docs .item .doc-type{display:inline-block;vertical-align:top;}
.tab_cont.scans .docs .item .file-desc{display:inline-block;vertical-align:top;}
.tab_cont.scans .docs .item .file-desc .upload-btn{margin:0;}

/*****************************************/

/***************HOMEPAGE******************/

#edge{width:100%;position:relative;overflow:hidden;min-height:700px;background:#41c8f2;background:-moz-linear-gradient(top,#41c8f2 0%,#e4f5f7 100%);background:-webkit-linear-gradient(top,#41c8f2 0%,#e4f5f7 100%);background:linear-gradient(to bottom,#41c8f2 0%,#e4f5f7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#41c8f2',endColorstr='#e4f5f7',GradientType=0);}
#edge .mid{text-align:center;position:absolute;top:50%;left:50%;color:#fff;z-index:2;width:100%;max-width:1000px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-200%);-ms-transform:translate(-50%,-200%);-o-transform:translate(-50%,-200%);transform:translate(-50%,-100%);}
#edge .mid .title{font-size:36px;line-height:40px;text-shadow:0 2px 0px rgba(0,0,0,0.1)}
#edge .mid .subtitle{font-size:20px;font-weight:300;line-height:40px;margin-top:20px;color:#4f8ec4;}
#edge .mid .learn{display:inline-block;vertical-align:top;margin:40px auto 0;background:#4f8ec4;border-radius:3px;line-height:40px;width:200px;color:#fff;font-size:12px;text-transform:uppercase;font-weight:700;opacity:.7;-webkit-transition:opacity .3s linear;-moz-transition:opacity .3s linear;-ms-transition:opacity .3s linear;-o-transition:opacity .3s linear;transition:opacity .3s linear;}
#edge .mid .learn+.learn{margin-left:15px;}
#edge .mid .learn:hover{text-decoration:none;opacity:1;}
.edgeLoad-EDGE-1455169207,.edgeLoad-EDGE-1462813254{visibility:hidden;}
.site-index{background:#fff;padding:0 0 40px;}
.site-index .info{position:relative;overflow:hidden;padding:40px 0;}
.site-index .info .item{display:inline-block;width:31%;vertical-align:top;text-align:center;}
.site-index .info .item .img{width:90%;margin:0 auto 15px;}

.site-index .info .item .img img {
    max-width: 100%;
    max-height: 150px
}

.site-index .list {
    text-align: center;
}
.site-index .info .item .tit{font-size:14px;font-weight:500;line-height:20px;}
.site-index .info .item .txt{font-size:14px;color:#a0a0a0;}
.site-index .cont{position:relative;overflow:hidden;}
.site-index .cont h2{text-align:center;}
.site-index .cont .list{margin-top:50px;width:100%;}

.site-index .cont .ico, .site-index .cont .text {
    display: block;
    text-align: center;
}

.site-index .cont .ico {
    width: 25%;
    min-width: 50px;
    margin: 0 auto 15px;
}

.site-index .cont .text {
    padding: 0 15px
}

.site-index .cont .ico img {
    max-width: 100%;
    text-align: center;
}
.site-index .cont .text .tit{font-weight:500;font-size:14px;}
.site-index .cont .text p{color:#a0a0a0;font-size:14px;}

.site-index .cont .item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    width: 30%;
}
.site-index .cont.com .list{float:right;}

/*****************************************/
body.sign{background:#4f8ec4;}
body.sign .wrap > .container{padding-top:35px;}
.sign .logo{text-align:center;margin-bottom:27px;}
.sign .site-signup{background:#fff;margin:0 auto;max-width:343px;width:100%;padding:0 15px 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.site-signup{margin-top:20px;}
.site-signup .tit{width:calc(100% + 30px);margin:0 -15px;background:#f5f5f5;height:49px;line-height:49px;padding:0 15px;}
.site-signup .tit h1{font-family:'Ubuntu';font-size:16px;font-weight:700;line-height:49px;margin:0;padding:0;}
#users-account_type_id{padding-top:16px;position:relative;overflow:hidden;}

/****************FAQ***************/

.side-menu-faq{width:283px;float:left;}

.side-menu-faq .panel{border:0;position:relative;overflow:hidden;border-radius:3px;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.15);box-shadow:2px 2px 3px rgba(0,0,0,.15);}
.side-menu-faq .panel .nav > li{border-radius:0;border-bottom:1px solid #e9e9e9;margin:0;}
.side-menu-faq .panel .nav > li > a{padding:18px 21px;color:#a0a0a0;font-size:14px;font-weight:700;border-radius:0;}
.side-menu-faq .panel .nav > li > a .glyphicon{font-size:12px;}
.side-menu-faq .panel .nav > li.active > a{color:#fff;}

#faq-list.list-view {
    padding: 0 15px;
}

#faq-list .item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

#faq-list .item:last-child {
    border-bottom: 0 none;
}

#faq-list .question {
    font-weight: 700;
}

/****************Checkbox+Radio********************/
.radio{display:block;vertical-align:middle;width:48.242811501597444089456869009585%;margin:0!important;float:left;}
.radio+.radio{float:right;}
input[type=radio]{display:none;}

.radio label {
    width: 100%;
    line-height: 40px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 14px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.field-cardform-color .radio{
    width: 40px;
    height: 40px;
    margin-right: 10px !important;
    float: left !important;}
.field-cardform-color .radio label{
    position: relative;
    width: 40px;
    height: 40px;}
.field-cardform-color .radio label span{
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.radio label.active{border-color:#4f8ec4;}

.checkbox {
    display: block;
    margin: -10px 0 0;
}

input[type=checkbox] {
    display: none;
}

.checkbox label {
    padding: 0 0 0 25px;
}

.checkbox label:before {
    content: '';
    background: url(/images/sys/checkbox.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.checkbox label.active:before {
    content: '';
    background: url(/images/sys/checkbox.png) 0 -20px no-repeat;
}

.sign-block {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 15px;
    position: relative;
    display: none;
    opacity: 0;
    -webkit-transition: opacity .3s linear .2s;
    -moz-transition: opacity .3s linear .2s;
    -ms-transition: opacity .3s linear .2s;
    -o-transition: opacity .3s linear .2s;
    transition: opacity .3s linear .2s;
}
.sign-block.vis{opacity:1;display:block;}
.sign-block.wide{max-width:940px;}
.sign-block .bt{background:#f5f5f5;border-bottom:1px solid #e9e9e9;height:48px;line-height:48px;padding:0 15px;}
.sign-block .bt h2{font-size:15px;font-family:'Ubuntu';font-weight:700;line-height:48px;margin:0;padding:0;}
.sign-block .cont{text-align:center;padding:50px 15px;}
.sign-block .cont .text{font-family:'Ubuntu';margin-top:26px;font-size:14px;}
.sign-block .cont .text h4{margin:0;padding:0;font-size:16px;}
.sign-block .cont .text p{color:#a0a0a0;margin:10px;}
.sign-block .bot{background:#f5f5f5;height:76px;line-height:73px;padding:0 15px;clear:both;}
.half{width:48%;display:inline-block;vertical-align:top;}
.half input{width:100%;display:inline-block;vertical-align:top;}
.half+.half{margin-left:2%;}
.sign-block table{width:100%;}
.sign-block table td{vertical-align:middle;}
.sign-block td{padding:0 5px;}

.sign-block td.f-tit {
    width: 21.875%;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    padding: 10px 10px 10px 0;
}
.sign-block td.f-tit+td{padding-top:10px;}
span.req{color:#f00;}
.vac-block{width:100%;max-width:780px;margin:0 auto;background:#fff;margin-bottom:15px;position:relative;overflow:hidden;}
.vac-block .bt{background:#f5f5f5;border-bottom:1px solid #e9e9e9;height:48px;line-height:48px;padding:0 15px;position:relative;overflow:hidden;border-top:1px solid #e9e9e9;}
.vac-block .bt h2{font-size:15px;font-family:'Ubuntu';font-weight:700;line-height:48px;margin:0;padding:0;}
.vac-block .cont{text-align:center;padding:50px 15px;}
.vac-block .cont .text{font-family:'Ubuntu';margin-top:26px;font-size:14px;}
.vac-block .cont .text h4{margin:0;padding:0;font-size:16px;}
.vac-block .cont .text p{color:#a0a0a0;margin:10px;}
.vac-block .bot{background:#f5f5f5;height:76px;line-height:73px;padding:0 15px;clear:both;}
.vac-block .half{width:24%;display:inline-block;vertical-align:middle;}
.vac-block .half input{width:100%;display:inline-block;vertical-align:middle;}
.vac-block .half+.half{margin-left:2%;}
.vac-block table{width:100%;}
.vac-block table td{vertical-align:middle;}
.vac-block td{padding:0 5px;}
.vac-block td.f-tit{width:21.875%;font-weight:700;font-size:14px;text-align:right;}
.vac-block td.f-tit+td{padding-top:10px;}

.vac_list {
    width: 68.298%;
    border-radius: 3px;
    float: left;
}
.vac_list .bt{background:#f5f5f5;border-bottom:1px solid #e9e9e9;padding:0 15px;height:48px;}
.vac_list .bt h1{color:#474747;font-size:15px;font-family:'Ubuntu';line-height:48px;margin:0;}

.vac_list .item {
    position: relative;
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
}
.vac_list .item .img{float:left;width:50px;}
.vac_list .item .img img{width:100%;}
.vac_list .item .info{float:left;margin-left:15px;font-family:'Ubuntu';font-family:'Ubuntu';width:calc(100% - 175px);}
.vac_list .item .info h2{font-family:'Ubuntu';font-size:16px;line-height:1;margin:3px 0 10px;}
.vac_list .item .info .detales > div{display:inline-block;vertical-align:middle;background:#efeff6;padding:5px 10px;border-radius:3px;color:#6b6f86;font-size:13px;font-weight:700;}
.vac_list .item .sallary{width:80px;float:right;margin-left:15px;padding-left:15px;position:relative;}
.vac_list .item .sallary:before{content:"";position:absolute;width:1px;height:100%;background:#e9e9e9;top:0;bottom:0;left:0;margin:auto;}
.vac_list .item .sallary .summ{margin-top:3px;font-size:16px;color:#50b967;font-weight:600;}
.vac_list .item .sallary .period{font-size:13px;color:#474747;text-transform:lowercase;}
.filters{width:30.106%;float:right;background:#fff;padding:15px;border-radius:3px;}
.filters .line{margin-bottom:20px;}
.filters .info{margin-bottom:20px;font-size:14px;line-height:20px;}
.filters .info .icon{border-radius:50%;background:#77b3d4;width:100px;height:100px;position:relative;margin:0 auto;margin-bottom:20px;}
.filters .info .icon img{position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;width:85%;}
.filters .info p.grey{color:#a0a0a0;margin-top:20px;}
.wrapper.vacancy{max-width:780px;}
.vacancy .block{background:#fff;}
.vacancy .block .com_head{padding:15px 15px 30px;position:relative;overflow:hidden;}
.vacancy .block .com_head .img{float:left;width:72px;}
.vacancy .block .com_head .img img{max-width:100%;}
.vacancy .block .com_head .info{float:left;margin-left:15px;width:calc(100% - 87px)}
.vacancy .block .com_head .info h1{margin:0;font-size:16px;line-height:22px;font-weight:700;}
.vacancy .block .com_head .info .company a{font-size:15px;color:#4f8ec4;font-weight:700;}
.vacancy .block .com_head .info .opened,.vacancy .block .com_head .info .views{color: #a0a0a0;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    right: 0;
    top: 0;
    transform: translate(0px, 0px);
    vertical-align: middle;}
.vacancy .block .com_head .info .views{margin-left:20px;}
.vacancy .block .com_head .info .opened i,.vacancy .block .com_head .info .views i{margin-right:5px;}
.vacancy .block .bt{background:#fafafa;padding:0 15px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;}
.vacancy .block .bt h2{margin:0;color:#474747;font-size:14px;line-height:42px;font-weight:700;}
.vacancy .block table{width:100%;color:#474747;font-size:14px;}
.vacancy .block table tr{border-bottom:1px solid #e9e9e9;}
.vacancy .block table tr:last-child{border:none;}
.vacancy .block table tr td{padding:15px;}
.vacancy .block table tr td:first-child{text-align:right;border-right:1px solid #e9e9e9;width:30%;font-weight:700;}
.vacancy .block .data.notes{padding:15px;color:#474747;font-size:14px;}
.vac_list .item .vac_count{width:75px;float:right;margin-left:15px;padding-left:15px;position:relative;}
.vac_list .item .vac_count:before{content:"";position:absolute;width:1px;height:100%;background:#e9e9e9;top:0;bottom:0;left:0;margin:auto;}
.vac_list .item .vac_count .qty{margin-top:3px;font-size:16px;color:#4f8ec4;font-weight:600;}
.vac_list .item .vac_count .period{font-size:13px;color:#474747;text-transform:lowercase;}
.vac_list .bt{position:relative;overflow:hidden;}
.vac_list .bt h1{float:left;}
.vac_list .bt .new{float:right;line-height:42px;}
.filters label{display:block;}
#sallary,#period{display:inline-block;vertical-align:middle;width:48%;}
.selected-flag .arrow{display:none;}
.flag-container .country-list{display:none!important;}
.f_blc .form-group{width:60%;display:inline-block;}
.f_blc .form-group+.form-group{width:40%;}
.images svg{width:50px;height:50px;transform:rotateZ(-90deg);border-radius:50%;position:absolute;display:block;margin:0;padding:0;clear:both;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.images svg circle{position:absolute;top:0;left:0;}
.images svg circle.one{fill:#fff;stroke:#dddddd;stroke-width:14;stroke-dasharray:360 300;}
.images svg circle.two{fill:#fff;stroke:#4f8ec3;stroke-width:10;stroke-dasharray:0 300;-webkit-transition:stroke-dasharray .3s linear;-moz-transition:stroke-dasharray .3s linear;-ms-transition:stroke-dasharray .3s linear;-o-transition:stroke-dasharray .3s linear;transition:stroke-dasharray .3s linear;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:#fff;}
.ui-selectmenu-menu .ui-menu{max-height:200px;}

.ui-state-default .ui-icon {
    background: url('/images/sys/arr-d.png') center center no-repeat #fff;
    height: 100%;
    width: 25px;
    top: 0 !important;
    margin: 0 !important;
    -webkit-background-size: 13px;
    background-size: 13px;
}
.side-menu{float:left;width:224px;}
.graph{position:relative;overflow:hidden;}
.container.dash{padding:20px 15px;}
.container.dash .content{margin-left:15px;width:900px;float:left;}
.bootstrap-tagsinput{width:100%;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;color:#555;display:block;font-size:14px;height:34px;line-height:1.42857;padding:6px 12px;transition:border-color 0.15s ease-in-out 0s,box-shadow 0.15s ease-in-out 0s;}
.bootstrap-tagsinput .tag{background-color:#4f8ec4;padding:5px;position:relative;top:-2px;}
.accordion{margin-bottom:-3px;}
.accordion-group{border:none;}
.twitter-typeahead .tt-query,.twitter-typeahead .tt-hint{margin-bottom:0;}
.twitter-typeahead .tt-hint{display:none;}
.tt-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;background-color:#ffffff;border:1px solid #cccccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box;cursor:pointer;}
.tt-suggestion{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.428571429;color:#333333;white-space:nowrap;}
.tt-suggestion:hover,.tt-suggestion:focus{color:#ffffff;text-decoration:none;outline:0;background-color:#428bca;}

/*******************************Settings**********************************/
.side-menu-settings{width:283px;float:left;}
.side-menu-settings .balance_block{background:#fff;padding:15px 20px;position:relative;overflow:hidden;border-radius:3px;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.15);box-shadow:2px 2px 3px rgba(0,0,0,.15);}
.side-menu-settings .balance_block .img{width:50px;float:left;}
.side-menu-settings .balance_block .info{float:left;margin-left:15px;max-width:calc(100% - 45px)}
.side-menu-settings .balance_block .info .name{font-size:16px;font-weight:700;line-height:20px;}
.side-menu-settings .balance_block .info .balance{font-size:15px;font-weight:500;color:#50b967;line-height:20px;margin-top:4px;}
.side-menu-settings .panel{margin-top:15px;border:0;position:relative;overflow:hidden;border-radius:3px;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.15);box-shadow:2px 2px 3px rgba(0,0,0,.15);}
.side-menu-settings .panel .nav > li{border-radius:0;border-bottom:1px solid #e9e9e9;margin:0;}
.side-menu-settings .panel .nav > li > a{padding:18px 21px;color:#a0a0a0;font-size:14px;font-weight:700;border-radius:0;}
.side-menu-settings .panel .nav > li > a .glyphicon{font-size:12px;}
.side-menu-settings .panel .nav > li.active > a{color:#fff;}
.container.settings{padding:20px 15px;}
.container.settings .content{margin-left:15px;width:840px;float:left;}
.container.settings .content .block{background:#fff;margin-bottom:20px;}
.container.settings .content .block .bt{background:#f5f5f5;border-bottom:1px solid #e9e9e9;padding:0 20px;}
.container.settings .content .block .bt h1,.container.settings .content .block .bt h2{font-size:15px;line-height:48px;margin:0;}
.container.settings .content .block .cont{padding:20px 20px 0 20px;position:relative;overflow:hidden;}
.container.settings .content .block .cont p{color:#a0a0a0;font-size:14px;}
.container.settings .content .block .cont .form-group{padding:0;}
.container.settings .content .block .bot{background:#f5f5f5;padding:20px;}
.acc-type .type{color:#4f8ec4;font-weight:700;cursor:pointer;border-bottom:1px dotted #4f8ec4;}
.acc-type .type:hover,.acc-type .type:focus{text-decoration:none;}

/*************** about ****************/
nav.navbar.about {
    height: 70px;
    line-height: 70px;
    background: rgba(75, 121, 161, 0.4); /* border-color:#4f8ec4; */
    z-index: 99999;
}

.about-main-fullwidth {
    background-image: url(/images/sys/icon_card.png);
    height: 710px;
    background-color: #68a7dd;
    position: relative;
    margin-top: -70px;
}
.about-main-text{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);text-align:center;}
.about-span-one{font-size:36px;font-weight:700;color:#fff;}
.about-span-two{font-size:20px;color:#fff;font-weight:300;}
.about-button-learnmore{width:200px;height:40px;background-color:rgba(255,255,255,0.6);font-size:12px;font-weight:700;text-transform:uppercase;margin-top:25px;}
.about-who-we{height:500px;position:relative;background-color:#fff;}
.about-who-one{font-size:28px;font-weight:700;color:#474747;}
.about-who-two{font-size:14px;color:#a0a0a0;font-weight:300;position:relative;top:20px;}
.about-what-we{height:500px;position:relative;background-color:#4f8ec4;}
.about-what-one{font-size:28px;font-weight:700;color:#fff;}
.about-what-two{font-size:14px;color:#fff;font-weight:300;position:relative;top:20px;}
.about-working{height:550px;position:relative;background-color:#fff;}
.about-working-name{font-size:14px;color:#474747;font-weight:700;display:inline-block;margin:5px 0px;}
.about-working-country{font-size:14px;color:#a6a6a6;font-weight:300;}
.about-padding-work{padding-top:30px;}
.form-tit h2{font-size:15px;padding:20px 0px 20px 15px;margin:0;background-color:#eeeeee;border-bottom:1px solid #dedede;}
.vac-position{width:50%}
.vac-position .half{width:49%!important;display:inline-block;vertical-align:middle;}
.form-tit h2 span{padding-right:15px;float:right;color:#4f8ec4;}
.form-group.field-vacancies-salary_from{width:48%;display:inline-block;margin-right:2%;}
.form-group.field-vacancies-salary_to{width:48%;display:inline-block;}
.vac-no-padding{PADDING:0}
.form-group.field-vacancies-payroll_period.required{width:48%;display:inline-block;margin-bottom:0;}
.form-group.field-vacancies-salary_currency_id.required{width:48%;display:inline-block;margin-right:2%;margin-bottom:0;}
.duration{width:24%;display:inline-block;}
.plus-minus{display:inline-block;vertical-align:middle;border:1px solid #DDD;text-align:center;line-height:10px;height:40px;padding-top:10px;font-size:18px;width:35px;}
input#vacancies-duration_of_contract{text-align:center;border-radius:4px 0 0 4px;height:40px;}
.half.field-vacancies-duration_of_contract.required{width:35%}
.half.field-vacancies-duration_of_contract_offset.required{width:36%;}
input#vacancies-duration_of_contract_offset{text-align:center;border:1px solid #DDDDDD;border-radius:0px 4px 4px 0px;height:40px;}
.form-group.field-vacancies-dur_period{width:24.5%;display:inline-block;vertical-align:middle;margin:0;height:40px;}
span#vacancies-dur_period-button{height:40px;padding-top:2.5px;}
.date.half.field-vacancies-joining_date_to{margin:0}
.vac-join-padding{padding-bottom:10px!important;}
.save{width:30%;display:inline-block;margin-left:2%;}
.half.field-vacancies-company_vessel_id{width:67%;}
.v-fit{width:30%!important;}
.form-group.field-vacancies-vessel_name{width:67%;}
.form-group.field-vacancies-vessel_type_id{width:67%;}
.countries.field-vacancies-vessel_flag_id{width:67%;}
.form-group.field-vacancies-vessel_deadweight{width:67%;}
.form-group.field-vacancies-vessel_year_built{width:67%;}
.form-group.field-vacancies-vessel_engine_type_id{width:32%;display:inline-block;margin:0;vertical-align:middle;height:34px;}
.form-group.field-vacancies-vessel_engine_power{width:30%;display:inline-block;margin:0;vertical-align:middle;}
.form-group.field-vacancies-power_mesure{width:30%;display:inline-block;margin:0;vertical-align:middle;height:34px;}
.power{display:inline-block;height:auto;}
.vac-me{padding-top:0!important;}
.form-group.field-vacancies-vessel_shipowning_company_name{width:67%;margin-top:10px;}
.form-group.field-vacancies-required_age_from{width:33%;display:inline-block;}
.form-group.field-vacancies-required_age_to{width:33%;display:inline-block;}
.citizenship.field-vacancies-required_citizenship{width:67%;}
.vac-citi{padding-top:0!important;}
.form-group.field-vacancies-required_language{margin-top:7px;width:67%;}
.form-group.field-vacancies-us_visa_required_type_id{width:37%;display:inline-block;vertical-align:middle;margin-bottom:10px;}
.form-group.field-vacancies-us_visa_required{width:30%;display:inline-block;vertical-align:middle;}
.vac-text-area{padding-top:15px;}

.about-soc {
    background: #fff;
    text-align: center;
    padding: 60px 0 210px;
}

.about-soc .item {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    margin-right: 30px;
}

.about-soc .item:last-child {
    margin-right: 0;
}

.about-soc .item img {
    max-width: 100%;
}

.about-padding-work .item .img {
    position: relative;
    height: 150px;
    margin-bottom: 15px;
    overflow: hidden;
}

.about-padding-work .item img {
    max-width: 150px;
    width: 100%
}

.card-block{
    padding: 20px 0;}

/************************Dashboard***********************************/
li > .nav.nav-pills.nav-stacked {
    display: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #4f8ec4 !important;
    color: #fff !important;
    border-bottom: 0 !important;
}

.side-menu-settings .panel .nav > li:last-child.active {
    border-bottom: 0 !important;
}

.dash .block {
    background: #fff;
}

#share table td, #export table td {
    vertical-align: middle;
    padding: 5px;
}

.closed, .opened {
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.panel {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.nav-pills > li > a {
    color: #a0a0a0;
    font-weight: 700;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #f3f3f3;
    color: #474747;
}

.nav-pills > li > a {
    border-radius: 0;
}

li > .nav.nav-pills.nav-stacked > li > a {
    padding-left: 50px;
}

li > .nav.nav-pills.nav-stacked > li > ul > li > a {
    padding-left: 70px;
}

.block.graph {
    padding: 0;
}

.graph canvas {
    width: 100% !important;
    height: auto !important;
}

.dash table.table {
    margin-bottom: 0;
}
.dash table tr td .form-group{margin:0;}

.dash .block .bt {
    background: #eeeeee;
    border-bottom: 1px solid #dedede;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    position: relative;
}
.dash .block .bt h1{font-size:15px;font-family:'Ubuntu';font-weight:700;line-height:48px;margin:0;padding:0;float:left;width:80%;}

.form-line {
    padding: 0 15px;
}

.dash table tr td.heading {
    background: #fafafa;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
}

.heading {
    background: #fafafa;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
}

.dash table tr td {
    border-bottom: 1px solid #e9e9e9;
    padding: 15px;
}

.dash table tr td.f-tit {
    width: 30% !important;
    border-right: 1px solid #e9e9e9;
    text-align: right;
    font-weight: 700;
    vertical-align: middle;
}

.dash table tr td .img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.dash table tr td .data {
    display: inline-block;
    vertical-align: middle;
}

.dash table tr td .info {
    margin-bottom: 20px;
}

.dash table tr td .img img {
    border-radius: 50%;
}

.dash .bot {
    padding: 15px;
    background: #f5f5f5;
}
.empty .edit{margin:20px 0;font-size:14px;font-weight:700;color:#4f8ec4;cursor:pointer;}

.bt .edit, .bt .cancel, .heading .edit {
    font-size: 14px;
    font-weight: 700;
    color: #4f8ec4;
    cursor: pointer;
}

.form-group {
    margin-top: 15px;
}

.bot {
    padding: 0 15px 15px 15px;
    clear: both;
}

.form-group.field-companyvessel-engine_power {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.form-group.field-companyvessel-measure {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.form-group.field-companyvessel-engine_type_id.required {
    margin-bottom: 0
}

.form-group.field-companyvessel-imo_number {
    margin-top: 5px;
}

.terms .content.pull-left {
    background: #fff;
    width: 75%;
}

.col-lg-12.terms {
    margin-top: 15px;
}
.terms .bt{background:#eeeeee;border-bottom:1px solid #dedede;height:48px;line-height:48px;padding:0 15px;position:relative;overflow:hidden;}
.terms .bt h1{font-size:15px;font-family:'Ubuntu';font-weight:700;line-height:48px;margin:0;padding:0;float:left;max-width:80%;}

.terms .heading {
    background: #fafafa;
    padding: 0 15px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.terms .heading h2 {
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.terms .text {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
}

.terms .sidebar {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

.terms .sidebar .side-block {
    background: #fff;
    text-align: center;
}

.terms .upd {
    text-align: center;
    border-top: 1px solid #e9e9e9;
    color: #a0a0a0;
}

.side-block .img {
    display: inline-block;
    padding: 0;
    width: 40%;
    border-radius: 50%;
    margin: 15px 0;
}

.side-block .img img {
    width: 100%;
}

.side-block .img.lock {
    background: #77b3d4;
}

.side-block + .side-block {
    margin-top: 20px;
}

.side-block .img.safe {
    background: #4f5d73;
}

.side-block p {
    font-size: 14px;
    line-height: 20px;
}

.cel-block {
    position: relative;
}

.cv-info .text, .notes-info .text {
    padding: 15px;
}

.cel-block .remove {
    background: #666 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    height: 20px;
    margin: auto;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -50%;
    width: 20px;
    cursor: pointer;
    line-height: 18px;
}

.cel-block .remove:hover {
    background: #ff7700;
}

.dl-cv {
    padding: 20px 0;
}

.update-notification {
    color: #a0a0a0;
    font-size: 13px;
    line-height: 30px;
    padding: 20px 0;
}

.fgt {
    line-height: 34px;
}

.site-request-password-reset {
    width: 100%;
    background: #fff;
    position: relative;
    margin: 20px 0;
}
.site-request-password-reset .bt{background:#eeeeee;border-bottom:1px solid #dedede;height:48px;line-height:48px;padding:0 15px;position:relative;overflow:hidden;}
.site-request-password-reset .bt h1{color:#474747;font-size:15px;font-family:'Ubuntu';line-height:48px;margin:0;}
.site-request-password-reset .bot{background:#f5f5f5;height:76px;line-height:73px;padding:0 15px;clear:both;}

.site-request-password-reset .cont {
    padding: 15px;
}

.item.lang {
    padding: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.particulars-info {
    padding: 15px;
}

#particulars-block {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 370px;
    line-height: 22px;
    padding: 7px 0;
}

#particulars-block.disabled {
    background: #f7f7f7;
}

/*********************COMPOSE*********************/
.attachments {
    position: relative;
}

.attachments .item {
    position: relative;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin-right: 15px;
}

.attachments .item:last-child {
    margin-right: 0;
}

.attachments .item .img {
    position: relative;
    width: 100px;
    height: 100px;
    border: 3px dashed #dddddd;
    border-radius: 3px;
    overflow: hidden;
}

.attachments .item .filename {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #a0a0a0;
    margin: 5px 0 0;
}

.attachments .item .remove-file {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #4f8ec4;
    font-weight: 700;
    cursor: pointer;
    display: none;
}

.attachments .item .remove-file:hover {
    text-decoration: underline;
}

.attachments .item .img .images svg {
    display: none
}

.attachments .item .img .images i {
    color: #dddddd;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.attachments .item .img .images i.file-ico {
    color: #4f8ec4;
}

.attachments .item .img .attach {
    position: absolute;
    top: -3px;
    left: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.attachments .item .img .attach input[type=file] {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/**************************TRAVEL DOCS EDIT*******************************/
#travel-form .form-group {
    display: inline-block;
    vertical-align: middle;
}

.locket-state {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    margin-left: -7px;
    padding: 0 15px;
    color: #474747;
}

.form-group.drop {
    height: 34px;
    margin-left: -35px !important;
}

.drop .ui-selectmenu-button {
    border-radius: 0 3px 3px 0;
    height: 34px;
}

.delete-doc {
    color: #4f8ec4;
    display: inline-block;
    font-weight: 700;
    margin-left: 5px;
    vertical-align: middle;
}

.move {
    color: #a0a0a0;
    display: inline-block;
    font-size: 17px;
    margin-top: 6px;
    vertical-align: middle;
}

/*************************************************************************/

/*********************PAYMENTS**********************/

.balance-ico {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #76c2af;
    margin: 10px auto;
    text-align: center;
}

.balance-ico img {
    width: 100%
}

.payments .info {
    text-align: center;
    line-height: 20px;
    padding-bottom: 15px;
}

.payments .info .current-balance {
    font-size: 14px;
    font-weight: 700;
}

.payments .info .current-balance .balance {
    color: #50b967;
}

.payments .info .text {
    color: #a0a0a0;
    margin-bottom: 5px;
}

.payments .info .pay {
    font-weight: 700;
    margin-top: 10px;
}

.input-group-addon.money {
    display: inline-block;
    line-height: 38px;
    padding: 0;
    vertical-align: middle;
    width: 40px;
}

.input-group-addon.money + input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    margin-left: -4px;
    vertical-align: middle;
    width: auto;
    height: 40px;
    max-width: 95px;
}

/***************************************************/

span#period-button {
    width: 50% !important;
    vertical-align: middle;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    text-overflow: initial;
}

p.tip {
    color: #a0a0a0;
    font-size: 14px;
}

.nav-follower {
    width: 100%;
    min-height: 60px;
    background-color: #fafafa;
    border: none;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.nav-follower .wrapper {
    padding: 20px 0px;
}

.nav-follower .wrapper a {
    margin-right: 30px;
}

.nav-follower-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.user-details {
    display: inline-block;
    vertical-align: middle;
}

.img.company-logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.info.pull-left {
    width: 100%;
    float: none;
    padding: 10px 15px;
}

h3.full-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.mail {
    color: #ACACAC;
}

h2.pull-left {
    line-height: 48px;
    margin: 0;
    padding: 0 15px;
    font-size: 20px;
}

.btn-admin {
    float: right;
    margin-top: 10px;
}

/*.block:last-child {
    margin-top: 15px;
}*/
.new-company {
    height: 48px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #dedede;
}

.modal-dialog {
    margin: 12% auto !important;
}

.modal-header {
    padding: 15px;
    background-color: #4f8ec4;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    font-weight: bold;
}

.admin-search-btn {
    font-size: 14px;
    font-weight: bold;
    color: #4f8ec4;
    cursor: pointer;
}

.admin-search-btn:hover {
    text-decoration: underline;
}

.admin-s-p {
    float: right;
    margin-right: 30px;
}

.a-form .form-group {
    margin: 0;
}

.a-form {
    padding: 0 15px;
}

.a-form label {
    margin-bottom: 0px;
}

.ui-front {
    z-index: 9999999999999999;
}

.a-drop {
    top: -150px !important;
    left: -270px !important;
    max-width: 230px;
}

.admin-block-2 {
    margin-top: 15px;
}

.admin-p {
    text-align: center;
}

.pagination > li > a, .pagination > li > span {
    border: 0;
}

.admin-pag {
    width: 25%;
    display: block;
    margin: 20px auto !important;
}

.pagination > li {
    display: inline-block;
    vertical-align: middle;
}

.admin-pag-a {
    border-radius: 50%;
    margin-top: 15px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    background-color: rgba(0, 0, 0, 0);
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    background-color: rgba(0, 0, 0, 0);
}

.companies-pag {
    text-align: center;
    width: 100%;
    display: block;
    margin: 20px auto !important;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vac-pag-a {
    border-radius: 50%;
}

/*--------------------MEDIA----------------------*/
@media screen and (max-width: 770px) {
    #family table tr td.f-tit + td {
        width: 70% !important;
    }

    #family table tr td {
        display: inline-block;
    }

    #family table tr td.f-tit {
        width: 30% !important;
    }

    td.f-tit {
        width: 30% !important;
    }

    #kin table tr td.f-tit + td {
        width: 70% !important;
    }

    #kin table tr td {
        display: inline-block;
    }

    #kin table tr td.f-tit {
        width: 30% !important;
    }

    #bio .col-lg-12 {
        padding: 0;
    }

    #bio table tr {
        border-bottom: 1px solid #e9e9e9;
    }

    #bio table tr td {
        padding: 10px !important;
        display: inline-block
    }

    #bio table tr td.f-tit {
        width: 30% !important;
    }

    #bio table tr td.f-tit + td {
        width: 70%;
    }

    #bio table tr td:nth-child(2), #bio table tr td:nth-child(4) {
        border-right: 1px solid #e9e9e9;
    }

    #bio table tr td .form-group {
        margin: 0;
    }
}

@media screen and (max-width: 770px) {
    div#seamen_filter {
        float: none;
        margin: 0 auto;
        width: 90%;
    }

    .vac_list {
        width: 90%;
        float: none;
        margin-top: 10px;
        margin: 20px auto;
    }

    div#vac_filter {
        float: none;
        margin: 0 auto;
        width: 90%
    }

    .vacancy .block table tr td:first-child {
        width: 50% !important;
    }

    .filters {
        float: none;
        width: 90%;
        margin-bottom: 15px;
        margin: 0 auto;
    }

    .vac_list {
        width: 90%;
    }

    .row {
        margin: 0;
    }

    #seaman table tr td {
        display: inline-block;
    }

    #seaman table tr td.f-tit {
        width: 31% !important;
    }

    #seaman table tr td.f-tit + td {
        width: 69%;
    }

    #edu table tr td {
        width: 37%;
    }

    #edu table tr td + td {
        width: 27%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: rgb(79, 142, 196);
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-right > li > a {
        width: 50%;
        display: inline-block;
    }

    .navbar-right li + li {
        margin: 0;
    }

    .navbar-toggle {
        margin-top: 15px;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: #d8dfe8 !important;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #d8dfe8 !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #d8dfe8 !important;
    }
}

@media only screen and (max-width: 500px) {
    .main-info table tbody {
        display: block;
    }

    .main-info table tbody .first {
        display: block;
    }

    .main-info table tbody tr:first-child td {
        display: block;
        width: 100% !important;
    }

    .main-info table tbody tr {
        display: block;
        width: 100% !important;
    }

    .main-info table tbody tr td {
        width: 49% !important;
        display: inline-block;
    }

}

span#seamanseaservice-vessel_flag_id-button {
    margin-top: 0;
    position: relative;
    top: 5px;
}
input#seamanseaservice-vessel_name {
    margin-bottom: 15px;
    margin-top: 0px;
}
td .cel-block .date {
    margin-bottom:15px
}
.form-group.field-service-measure {
     margin-top: 8px;
 }
.form-group.field-service-me_power {
      margin-top: 8px;
  }
span#seamanseaservice-engine_type_id-button {
       position: relative;
       top: 7px;
   }
.cel-block {
        position: relative;
        top: 7px;
    }